<h1> <%= @current_channel.name %> </h1>
<p> More Information: </p>
<ul>
  <li>Channel Name: <%= @current_channel.name %> </li>
  <li>Callsign: <%= @current_channel.callsign %> </li>
  <li>Price Per Month: $<%= @current_channel.price_per_month %> </li>
  <li>Total Subscribers: <%= @current_channel.subscribers.count %> </li>
</ul>
<div>
<% if logged_in? && !subscribed?(@current_channel.id, current_user) %>
  <form method="post" action='/channels/<%= @current_channel.id %>/subscriptions/new'>
    <input type='submit' value='Subscribe'>
  </form>
<% elsif logged_in? && subscribed?(@current_channel.id, current_user) %>
  <form method="post" action='/channels/<%= @current_channel.id %>/subscriptions/<%= @current_subscription.id %>'>
    <input type="hidden" name="_method" value="delete">
    <input type='submit' value='Unsubscribe'>
  </form>
<% end %>
</div>
<div>
<% if logged_in? %>
  <a href='/users/<%= current_user.id %>'>Home</a>
<% else %>
  <a href='/'>Home</a>
<% end %>
</div>
