<p>About This Channel:</p>
<li><%= @channel.name %></li>

<p>This Channel's Callsign:</p>
<li><%= @channel.callsign %></li>

<p>Monthly Cost:</p>
<li><%= @channel.price_per_month %></li>

<p>Number Of Subscribers:</p>
<%= @channel.subscriptions.count %>

<br>
<hr>
<% if logged_in? %>
<form action="/subscriptions" method="post">
  <input type="hidden" name="channel" value="<%= @channel.id %>">
  <input type="submit"  value="Subscribe">
</form>


<form action="/subscriptions" method="post">
  <input name="_method" type="hidden" value="delete"/>
  <input name="channel" type="hidden" value="<%= @channel.id %>">
  <input name="submit" type="submit" value="Delete"/>
</form>
<% end %>
